<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Apache-Axis</display-name>
    <servlet>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Axis Admin Servlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet>
        <display-name>SOAPMonitorService</display-name>
        <servlet-name>SOAPMonitorService</servlet-name>
        <servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
        <init-param>
            <param-name>SOAPMonitorPort</param-name>
            <param-value>5101</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.wzc.loginServlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.wzc.loginServlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>com.wzc.loginServlet.RegistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>com.wzc.loginServlet.ScoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RankServlet</servlet-name>
        <servlet-class>com.wzc.loginServlet.RankServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RankLocalServlet</servlet-name>
        <servlet-class>com.wzc.loginServlet.RankLocalServlet</servlet-class>
    </servlet>




    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOAPMonitorService</servlet-name>
        <url-pattern>/SOAPMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlet/AdminServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/RegistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/ScoreServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RankServlet</servlet-name>
        <url-pattern>/RankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankLocalServlet</servlet-name>
        <url-pattern>/RankLocalServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
</web-app>